body {
    font-size: 36px;
    font-family: 'Amatic SC', cursive;
    background-size: cover;
    background-image: url('/home/kayla/repos/projects/tools/simisola/resources/public/images/IMG_7825.JPG');
}
