body {
    font-size: 36px;
    font-family: 'Amatic SC', cursive;
}

.simisola {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.slider {
    width: 360px;
}

#rangevalue {
    margin: 20px;
}

input[type=range]{
    /*removes default webkit styles*/
    -webkit-appearance: none;
    width: 300px;
    background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 48px;
    background: #FFF9F7;
    border: none;
    border-radius: 30px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 48px;
    width: 48px;
    border-radius: 100%;
    background: #9DCCA2;
    cursor: pointer;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FFF9F7;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #FAEFE4;
    border: none;
    border-radius: 30px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: #78B39F;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #FAEFE4;
    border-radius: 30px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: #78B39F;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}